@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: red;
  --color-secondary: #819199;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Light theme */
  --color-light-primary: #6b8ab3;
  --color-light-bg: #ffffff;
  --color-light-text-primary: #b9a2a2;
  --color-light-text-secondary: #ffffff;
  --color-light-wave-bg: #f9faf9ed;
  --color-light-divider: #c9c4c4a3;

  /* Dark theme */
  --color-dark-primary: #5f7ea6;
  --color-dark-bg: #1e2023;
  --color-dark-text-primary: #c5c5c5;
  --color-dark-text-secondary: #000000;
  --color-dark-wave-bg: #1e1e1e;
  --color-dark-divider: #45444075;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Fonts */
  --font-quicksand: var(--font-quicksand);
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Shadows */
  --shadow-header: 0 5px 20px -5px rgb(0 0 0 / 7%);

  /* Shape Styles */
  --rounded-shape: 58% 42% 38% 62% / 42% 55% 45% 58%;
  --translate-shape: translate(0, -50%);

  /* Animations */
  --animate-border: border 10s infinite;
  @keyframes border-animation {
    0%,
    100% {
      border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
    50% {
      border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
    }
  }

  --animate-bounce-arrow: jumpInfinite 0.5s ease-in-out infinite;
  @keyframes jumpInfinite {
    0% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(-3px);
    }
  }
}

.animate-border {
  animation: border-animation 10s ease-in-out infinite;
}

.rounded-shape {
  border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
}

.translate-shape {
  transform: translate(0, -50%);
}

* {
  scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #9a9c9e;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.Toastify__toast {
  width: fit-content !important;
}
